
<h1>Hello word</h1>
<div class="demojq mb-3">Xin chào C#</div>

<div class="mb-3">
	<!--Nút dùng để bấm hiển thị nội dung-->
	<button id="getBtnHtml" class="btn btn-primary">Get Html</button>
	<!-- div dùng để hiển thị nội dung -->
	<div id="resultHtml"></div>
</div>

<div class="mb-3">
	<!--Nút dùng để bấm hiển thị nội dung-->
	<button id="getBtnText" class="btn btn-primary">Get Text</button>
	<!-- div dùng để hiển thị nội dung -->
	<div id="resultText"></div>
</div>

<div class="mb-3">
	<!--Nút dùng để bấm hiển thị nội dung-->
	<button id="getBtnAPI" class="btn btn-primary">Get API</button>
	<!-- div dùng để chứa các nội dung cần hiển thị -->
	<div id="resultAPI">
		<!-- div dùng để hiển thị nội dung khu vực múi giờ -->
		<div class="timezone">
		</div>
		<!-- div dùng để hiển thị nội dung múi giờ -->
		<div class="time">
		</div>
	</div>

</div>
